@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  /* colors */
  --primary: #b14bec;
  --primary-light: #f7f0fb;
  --grey900: #333;
  --grey300: #777777;
  --grey200: #eaeaea;
  --grey100: #f9fafb;
  --white: #fff;

  --background-color: var(--grey100);
  --background-secondary-color: var(--white);
  --text-color: var(--grey900);
  --text-color-light: var(--grey300);
  --link-color: var(--primary);

  /* theme */
  --dark-mode-bg-color: #333;
  --dark-mode-text-color: #f0f0f0;
  --dark-mode-bg-secondary-color: #3f3f3f;
  --dark-mode-text-secondary-color: var(--grey300);

  /* layout */
  --max-width: 1880px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-height: 6rem;
  --border-radius: 0.5rem;

  /* text */
  --small-text: 0.875rem;
  --extra-small-text: 0.75em;

  /* animation */
  --transition: 0.3s ease-in-out all;
}

body {
  font-family: Inter, Helvetica, sans-serif;
  background: var(--background-color);
  color: var(--grey900);
}

.dark-theme {
  --text-color: var(--dark-mode-text-color);
  --background-color: var(--dark-mode-bg-color);
  --text-secondary-color: var(--dark-mode-text-secondary-color);
  --background-secondary-color: var(--dark-mode-bg-secondary-color);
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.text-large {
  font-size: 1.5rem;
  line-height: 150%;
}

/* buttons */

.btn-primary {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
  width: fit-content;
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-medium-primary {
  display: flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  background: var(--primary);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
  width: fit-content;
  cursor: pointer;
}

.btn-medium-primary:hover {
  background: var(--white);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-secondary {
  display: flex;
  height: 48px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  background: var(--white);
  color: var(--primary);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
  width: fit-content;
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.btn-form {
  width: 100%;
}

/* forms */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--background-secondary-color);
  border-radius: var(--border-radius);
  padding: 3rem 3.5rem;
  margin: 3rem auto;
}

.form-row {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey200);
  background: var(--background-secondary-color);
  font-size: 14px;
  color: var(--text-color);
}

input:hover {
  border: 1px solid var(--primary);
  box-shadow: 0px 4px 6px -4px rgba(10, 9, 13, 0.08),
    0px 8px 8px -4px rgba(10, 9, 13, 0.04);
}

input:focus {
  border-radius: 9px;
  border: 1px solid var(--primary);
  outline: none; /* Remove default browser outline */
}
