.logoutContainer {
  position: relative;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--text-color);
  gap: 0.5rem;
}

.dropdown {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  text-align: center;
  visibility: hidden;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background: var(--background-secondary-color);
}

.showDropdown {
  visibility: visible;
}

.dropdownBtn {
  border-radius: var(--border-radius);
  padding: 0.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--text-color);
  cursor: pointer;
}
