nav {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.link {
  color: var(--primary);
  text-decoration: underline;
}

p {
  margin-top: 1rem;
}
